<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.medireserve.admin.mapper.RolePermissionMapper">

    <!--批量插入角色权限关联-->
    <insert id="batchInsert">
        INSERT INTO role_permission (role_id, permission_id)
        VALUES
        <foreach collection="permissionIds" item="pid" separator=",">
            (#{roleId}, #{pid})
        </foreach>
    </insert>

    <!--查询角色拥有的权限ID列表-->
    <select id="findPermissionIdsByRoleId" resultType="java.lang.Long">
        SELECT permission_id
        FROM role_permission
        WHERE role_id = #{roleId}
    </select>

</mapper>